<footer>
    <form action="http://twitter.com/home" id="tweetform" method="GET">
        <fieldset disabled="disabled">
            <legend>Share on Twitter</legend>
            <textarea name="status" cols="100" rows="3" required maxlength="140">
                I'm Watching @ssorabhssharma and github http://github.com/sorabh86/sos-gulp-imagemin
            </textarea>
            <button type="submit" class="btn btn-large btn-block btn-default">button</button>
        </fieldset>
    </form>
    
    <p>&copy; <!-- @echo author -->, version <!-- @echo version -->. <a href="#welcome">Return to top&hellip;</a></p>
</footer>